doctype html
html
  head
    title Mi plantilla Pug
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    h1 Bienvenido a mi plantilla Pug
    h2 Hola #{nombre}
    p #{mensaje}