<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
</head>
<body>
    <h1>Registra tut usuario</h1>
    <form action="" method="post" id="regUsuario">
        <label for="" >Nombre de Usuario</label>
        <input type="text" id="nomUsuario" name="nomUsuario">
        <input type="submit">
    </form>
</body>
</html>